#navlink{
    color:#e0d7d0;
}
#footerdev{
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(to right,red,black,red);
}
.nav{
    width: 100%;
    justify-content: center;
    

}

.containerdo{
    background-image: linear-gradient(to right,rgb(119, 25, 25),rgb(41, 13, 13));

    display: flex;
    flex-wrap: nowrap;
    color:white;
}
#cards{
    background-image: linear-gradient(to right,rgb(28, 8, 8),rgba(23, 7, 96, 0.788),red );
    padding: 15px;
    font-size: large;
}
#cards h5{
    text-align: center;
}
#cont{
    font-size:x-large;
    padding-top: 15px;
}